body{
    font-family: Roboto;
    background-color: #2A2E39;
    color:white;
}

h1,h2,h3{
    color:#eb6d4c;
}
*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sct-content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}
.container{
    display: flex;
    flex-wrap: wrap;

    padding: 0% 10%;
}
.row{
    flex:auto;
    width: 100%;
}
@media(min-width:1000px){
    .row{
        display:flex;
        flex: auto;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .title-info{
        font-size: 130%;

    }
    .project-title, .topic-title{
        padding:0% 10%
    }
    .column-content{
        margin-bottom: 4%;
    }
    .image-process{
        width:14%;
        margin-bottom: -4%;
    
    }
    .step-content{
        font-size:130%;
    }
    .mockup-text{
        padding-top: 20%;
        text-align: center;
    }
}
@media(max-width:1000px){
    .title-info, .project-title{
        text-align: center;
    }
    .topic-title{
        padding:0% 10%
    }
    .wrapper.roles{
        display:inherit;
    }
    .column-content{
        margin-bottom: 0%;
    }
    .image-process{
        width:10%;
        margin-bottom: 0;
    }

    .column.step{
        width:50%;
        font-size:180%;
        padding-bottom: 2%;
    }
    .column.step.dx{
        margin-left: 50%;
    }
    .column.step.sx{
        text-align: right;
    }
    .image-process.dx{
        margin-left: -5%;
    }
    .image-process.sx{
        margin-right:-5%;
    }

    .title-goals{
        font-size:180%;
        padding-bottom: 5%;
    }
    .title-info.goals{
        padding-bottom: 3%;
    }
    .step-content{
        font-size:90%;
    }

}

@media(max-width:600px){
    .image-process{
        width:20%;
        margin-bottom: 0;
    }
    .image-process.dx{
        margin-left: -10%;
    }
    .image-process.sx{
        margin-right:-10%;
    }
}

.column{
    display: flex;

flex-direction: column;

word-wrap: break-word;

flex:1;
position: relative;
}
.wrapper{
    position: relative;
    width:100%;
}
.column-content{
    width:100%;
    position: relative;
}

.project-description{
    margin-top: 0%;
    font-size: 180%;
}

#profile_page{
    width:100%; 
}


.fade-in{
opacity: 0;
transition: opacity 500ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}


#homepagewrap{
    margin:0;
    height:100vh;
}
#welcome-message{
    vertical-align: middle;
    position: absolute;
    top:25%;
    left:10%;
}

.coordinates{
    position: fixed;
    bottom: 1.5%;
    right:1.5%;
}

.course{
    font-size: 180%;
}