<header class="section-header">
    <h2>Teaching</h2>
</header>
{% assign my_teaching = site.teaching | sort:"item_id" | reverse %}
{% for course in my_teaching limit:2 %}

<div class="item">

    <h3 class="item-title"><a href="{{course.link}}">{{course.name}}</a></h3>
    <h4 class="item-title-details">{{course.role}} • {{course.university}} • {{course.year}}</h4>

    {% assign course_description = course.content | strip %}
    {% if course_description != "" %}
    <p class="item-description">
        {{course.content | markdownify}}
    </p>
    {% endif %}
</div>
{% endfor %}
