<header class="section-header">
    <h2>Work Experiences</h2>
</header>
{% assign works = site.work-experiences | sort: id %}

{% for work in works limit: 2 %}

<div class="item">
    
    <h3 class="item-title">{{work.name}}</h3>
    <h4 class="item-title-details">{{work.where}} - {{work.city}} • {{work.from}} - {{work.to}}</h4>

    <p class="item-description">
        {{work.content | markdownify}}
    </p>
    <div class="tags">

        {% for tag in work.tags %}
        <span class="chip">{{tag}}</span>
        {% endfor %}
    </div>
</div>
{% endfor %}
